
.container {
    margin-top: 120px;
    /* padding: 34px; */
}
.container h2{
    font-size: 60px;
}
.container2 {
    justify-content: center;
    margin: auto;
    width: 490px;
    text-align: left;
    /* border: 2px solid whitesmoke; */
    
}
.container ul{
    padding: 34px;
}
.container ul li{
    font-size: 25px;
    list-style: none;
    margin: 14px;
    
}
.container ul li a{
    text-decoration: none;
}