doctype html 
html 
    head 
        title Lakshay Dance Academy 
        block script 
        block style
    body 
        nav#navigation  
            ul  
                div#logo
                    img(src="/static/imgs/logo.jpg", alt="Error")
                    | LDA 
                li #[a(href="/") Home]
                li #[a(href="/") About Us]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact]

        block content 
        footer#footer 
            | Copyrights Reserved © By Lakshay 2023   