extends base.pug
block script 
    script(src="/views/script.js") 
block style
    link(rel='stylesheet' href='../static/style.css')
block content                
    div.container
        div.anima
            h1 Hello!! Myself Lakshay
        div#section1.sections
            h2 About
            p
            | This is Lakshay. I am a Btech 1 year student, pursuing my degree from NorthCap University. Lorem ipsum
            | dolor sit amet consectetur adipisicing elit. Perspiciatis odio, natus sunt totam officiis odit harum
            | perferendis facere hic, saepe itaque, sapiente molestiae incidunt suscipit voluptatibus cupiditate? Quis
            | autem aperiam recusandae ullam necessitatibus earum quisquam!
        div#section2.sections
            h2 Skills
            p
            ul
                li
                    b Python
                    | - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam!
                li
                    b Java
                    | - Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis.
                li
                    b JavaScript
                    | - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!
                li
                    b C
                    | - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas!
                li
                    b Html
                    | - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                li
                    b CSS
                    | - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt?
        div#section3.sections
            h2 Internships
            ul
            li
                b Goibibo
                | -Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptate nostrum
                |                     nihil maiores ad reiciendis!
            li
                b Digital Ocean
                | - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nobis sit qui,
                |                     quisquam eligendi nemo!
            li
                b Iternshala
                | - Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo, iusto ipsa
                |                     delectus voluptatibus ad.
            li
                b Uber
                | - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere aut corporis,
                |                     consectetur architecto a ut?
        div#section4.sections
            h2 Projects
            ul
            li
                b Alexa
                |  - Lorem ipsum dolor sit amet consectetur adipisicing elit. At omnis quis, dolore corporis veniam eius!
            li
                b Pizza Ordering System
                |  - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sunt tempore sapiente
            li
                b Dance Site
                | - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, sit. Maxime quisquam delectus sunt dolorum.
            li
                b Weather Prediction
                | - Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic suscipit velit numquam fuga reprehenderit ullam!
        div#section5.sections
            h2 Qualification
            p
            | I have done my 10 and 12 from Sanatan Dharam Vidya Mandir, which is located in panipat.
