*{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    /* color: whitesmoke; */
    
}
body{
    background: url(../img/img1.jpg);
}
.navbar{
    position: sticky;
    top: 6px;
    /* border: 2px solid;
    background-color: black;
         */
}

.container1>ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.container1 ul li a {
    text-decoration: none;  
    color: white;
    padding: 10px 10px ;
}

.itemnav{
    padding: 10px 26px ;
    margin: 10px 10px;
    
}
.container1 ul li a:hover{
    background-color: black;
    border: 1px solid rgb(239, 237, 237);
    border-radius: 15px;
    background-color: rgb(246, 236, 236);
    color: rgb(10, 10, 10);
}

.container{
    border: 2px solid white ;
    width: 1200px;
    margin: auto;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;
    opacity: 0.8;

}

.container h1{
    font-size: 60px;
    margin: 10px 0px;
    margin-bottom: 50px;
}
.container h2{
    font-size: 35px;
}
.sections{
    margin: 10px 10px ;
        text-align: left;
    padding: 10px 10px ;
}

.sections h2{
    /* font-size: 5px; */
    font-size: 30px;
}

.anima{
    position: relative;
    animation: Headinganima 15s  0s 10 forwards;
}
@keyframes Headinganima {
    0%{
        top: 0px;
        right: -900px;
    }
    /* 25%{
        top: 0px;
        right: 75px;
        
    }
    50%{
        top: 0px;
        right: 150px;
        
    }
    75%{
        top: 0px;
        right: 200px;
        
    } */
    100%{
        top:0px;
        right: 925px;
    }
}