doctype html    
html 
    head 
        title Myself    
        block script 
        block style 
    body 
        nav.navbar
            div.container1
                ul
                    li.itemnav
                        a(href='/')
                            | Home
                    li.itemnav
                        a(href='/')
                            | Services
                    li.itemnav
                        a(href='/contact') 
                            | Contact Me
                    li.itemnav
                        a(href='/') 
                            |About
        block content