extends base.pug
block script 
    script(src="../static/scriptcon.js") 
block style
    link(rel='stylesheet' href='../static/style.css')
    link(rel='stylesheet' href='../static/stylecontact.css')
block content   
    div.container
        h2 Lakshay Goel
        div.container2
            ul 
                li.Infotext      
                    |Contact Number - 74047#####
                li.Infotext  
                    |Email - lakshaygoel911@gmail.com
                li.Infotext  
                    |Github - 
                    a(href="http://github.com/lakshayletsgo", target="_blank", id="Github") lakshayletsgo   
                li.Infotext  
                    |Linkedin - 
                    a(href="http://www.linkedin.com/in/lakshay-goel-b548bb249/", target="_blank") Lakshay Goel
                
                
        
